#default{
    width: 1200px;
    height: 600px;
    margin-left: 300px;
    margin-top: 20px;
    border: 2px solid black;
}

.flex-container{
    margin-top: 5px;
    display: flex;
    
}
.flex-container > img{
    border: 2px solid black;
    flex: 1;
    height: 250px;
}
